/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* header */

.header-site{
    height: 100px;
    background-color: #4ea0ff;
    background-image: url("../img/pattern.png");
    background-size:  30%;
}

#logo{
    width: 15%;
    margin: 40px 10px;
}

/* article */


/* img-section*/
article{
    margin: 5px 20px;
}

h2{
    font-size: 40px;
}

.description{
    color: #a0a0a0;
} 

a{
    text-decoration: none;
    color: #2aade6;
}


/* main-part article */
.margin-space{
    margin-top: 30px;
   
}

mark{
    background-color: yellow;
}

ul{
    margin-left: 20px;
}

/* table */

table{
    border-collapse: collapse;
}

.lightblue-cell{
    background-color: #b1e5f2;
}

.blue-cell{
    background-color: #20a9e5;
    color: white;
}

.cell-width{
    width: 50%;
}


/* section-more */
