/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* header */

.header-site{
    height: 100px;
    background-color: #4ea0ff;
    background-image: url("../img/pattern.png");
    background-size:  30%;
}

#logo{
    width: 15%;
    margin: 40px 10px;
}

/* article */
#header-article{
    margin: 5px 20px;
}

h2{
    font-size: 40px;
}

#autore{
    color: #a0a0a0;
} 

a{
    text-decoration: none;
    color: #2aade6;
}




/* section-more */
